 .banner {
            /* background-image: url('./Assets/x7pfvyv5.png'); */
            background-size: cover;
            height: 80dvh;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            text-align: center;
        }