<section id="portfolio" class="py-5 bg-light">
    <div class="container py-5">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-8">
                <h2 class="display-5 section-header">Our Event Coverage</h2>
                <p class="lead">From corporate galas to milestone celebrations, we capture the heart and soul of your events. Our photography preserves every precious moment, allowing you to relive the energy and excitement for years to come.</p>
            </div>
        </div>
    </div>
</section>

<section class="images-display">
    <div class="mt-5 mb-5" >
        <div class="text-center p-5" >
            <h1>Nigerian International Tea Festival Ceremony</h1>
        </div>
        <div class="row no-gutters ">
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea11.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea12.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea13.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea1.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea10.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea3.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea4.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea5.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea6.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea7.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/tea9.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
        </div>
    </div>

    <div  class="mt-5 mb-5">
        <div class="text-center p-5" >
            <h1 >Prado Power Retreat 2025</h1>
        </div>
        <div class="row no-gutters ">
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_0847.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_0916.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_1103.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_1248.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_0844.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_1253.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_1242.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_0839.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/PRADO POWER 2025 RETREAT/VIB_0967.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
        </div>
    </div>


    <div  class="mt-5 mb-5">
        <div class="text-center p-5" >
            <h1>International Women's Day with Dr  DR Naomo Osemedua</h1>
        </div>
        <div class="row no-gutters ">
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/IMG-20250313-WA0006.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/IMG-20250313-WA0007.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/IMG-20250313-WA0012.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/VIB_8836.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/IMG-20250313-WA0021.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/IMG-20250313-WA0024.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/IMG-20250313-WA0029.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/VIB_8870.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
            <div class="col-4">
                <div class="portfolio-item">
                    <img src="./Assets/EVENT/IWD 2025 WITH DR NAOMO OSEMEDUA/VIB_8844.jpg" class="img-fluid" alt="Studio portrait">
                </div>
            </div>
        </div>
    </div>


</section>